## Task-2 : Descriptive Analysis

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Load the data

resturant_df = pd.read_csv(r"C:\Users\sangi\Downloads\Dataset .csv")
resturant_df

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",...,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,314
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,...,Botswana Pula(P),Yes,No,No,No,3,4.5,Dark Green,Excellent,591
2,6300002,Heat - Edsa Shangri-La,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",...,Botswana Pula(P),Yes,No,No,No,4,4.4,Green,Very Good,270
3,6318506,Ooma,162,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.056475,14.585318,"Japanese, Sushi",...,Botswana Pula(P),No,No,No,No,4,4.9,Dark Green,Excellent,365
4,6314302,Sambo Kojin,162,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.057508,14.584450,"Japanese, Korean",...,Botswana Pula(P),Yes,No,No,No,4,4.8,Dark Green,Excellent,229
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9546,5915730,Naml۱ Gurme,208,��stanbul,"Kemanke�� Karamustafa Pa��a Mahallesi, R۱ht۱m ...",Karak�_y,"Karak�_y, ��stanbul",28.977392,41.022793,Turkish,...,Turkish Lira(TL),No,No,No,No,3,4.1,Green,Very Good,788
9547,5908749,Ceviz A��ac۱,208,��stanbul,"Ko��uyolu Mahallesi, Muhittin ��st�_nda�� Cadd...",Ko��uyolu,"Ko��uyolu, ��stanbul",29.041297,41.009847,"World Cuisine, Patisserie, Cafe",...,Turkish Lira(TL),No,No,No,No,3,4.2,Green,Very Good,1034
9548,5915807,Huqqa,208,��stanbul,"Kuru�_e��me Mahallesi, Muallim Naci Caddesi, N...",Kuru�_e��me,"Kuru�_e��me, ��stanbul",29.034640,41.055817,"Italian, World Cuisine",...,Turkish Lira(TL),No,No,No,No,4,3.7,Yellow,Good,661
9549,5916112,A���k Kahve,208,��stanbul,"Kuru�_e��me Mahallesi, Muallim Naci Caddesi, N...",Kuru�_e��me,"Kuru�_e��me, ��stanbul",29.036019,41.057979,Restaurant Cafe,...,Turkish Lira(TL),No,No,No,No,4,4.0,Green,Very Good,901
9550,5927402,Walter's Coffee Roastery,208,��stanbul,"Cafea��a Mahallesi, Bademalt۱ Sokak, No 21/B, ...",Moda,"Moda, ��stanbul",29.026016,40.984776,Cafe,...,Turkish Lira(TL),No,No,No,No,2,4.0,Green,Very Good,591

**Calculate basic statistical measures (mean, median, standard deviation, etc.) for numerical columns**

In [27]:
resturant_df.describe()

,Restaurant ID,Country Code,Longitude,Latitude,Average Cost for two,Price range,Aggregate rating,Votes
count,9.551000e+03,9551.000000,9551.000000,9551.000000,9551.000000,9551.000000,9551.000000,9551.000000
mean,9.051128e+06,18.365616,64.126574,25.854381,1199.210763,1.804837,2.666370,156.909748
std,8.791521e+06,56.750546,41.467058,11.007935,16121.183073,0.905609,1.516378,430.169145
min,5.300000e+01,1.000000,-157.948486,-41.330428,0.000000,1.000000,0.000000,0.000000
25%,3.019625e+05,1.000000,77.081343,28.478713,250.000000,1.000000,2.500000,5.000000
50%,6.004089e+06,1.000000,77.191964,28.570469,400.000000,2.000000,3.200000,31.000000
75%,1.835229e+07,1.000000,77.282006,28.642758,700.000000,2.000000,3.700000,131.000000
max,1.850065e+07,216.000000,174.832089,55.976980,800000.000000,4.000000,4.900000,10934.000000

**Explore the distribution of categorical variables like "Country Code", "City" and "Cuisines"**

In [67]:
cat_cols = ['Country Code', 'City', 'Cuisines']

for col in cat_cols:
    if col in resturant_df.columns:
        print(f"\n {col} ")
        print(f"Unique values: {resturant_df[col].nunique()}")
        print(f"Most common categories:\n{resturant_df[col].value_counts().head(10)}\n")
    else:
        print(f"\n Column '{col}' not found in dataset.")

 Country Code
Unique values: 15
Most common categories:
Country Code
1      8652
216     434
215      80
30       60
214      60
189      60
148      40
208      34
14       24
162      22
Name: count, dtype: int64


 City
Unique values: 141
Most common categories:
City
New Delhi       5473
Gurgaon         1118
Noida           1080
Faridabad        251
Ghaziabad         25
Bhubaneshwar      21
Amritsar          21
Ahmedabad         21
Lucknow           21
Guwahati          21
Name: count, dtype: int64


 Cuisines
Unique values: 1825
Most common categories:
Cuisines
North Indian                      936
North Indian, Chinese             511
Chinese                           354
Fast Food                         354
North Indian, Mughlai             334
Cafe                              299
Bakery                            218
North Indian, Mughlai, Chinese    197
Bakery, Desserts                  170
Street Food                       149
Name: count, dtype: int64

**Identify the top cuisines and cities with the highest number of restaurants**

In [76]:
# For cuisines

from collections import Counter

all_cuisines = resturant_df['Cuisines'].dropna().str.split(',').sum()
all_cuisines = [c.strip() for c in all_cuisines]
all_cuisines

['French',
 'Japanese',
 'Desserts',
 'Japanese',
 'Seafood',
 'Asian',
 'Filipino',
 'Indian',
 'Japanese',
 'Sushi',
 'Japanese',
 'Korean',
 'Chinese',
 'Asian',
 'European',
 'Seafood',
 'Filipino',
 'Asian',
 'European',
 'European',
 'Asian',
 'Indian',
 'Filipino',
 'Filipino',
 'Mexican',
 'American',
 'Ice Cream',
 'Desserts',
 'Filipino',
 'Mexican',
 'Filipino',
 'Korean',
 'Cafe',
 'American',
 'Italian',
 'Filipino',
 'Italian',
 'Pizza',
 'Filipino',
 'Cafe',
 'Korean',
 'Desserts',
 'Cafe',
 'Bakery',
 'American',
 'Italian',
 'Seafood',
 'American',
 'Mediterranean',
 'Japanese',
 'American',
 'Asian',
 'Italian',
 'Seafood',
 'Fast Food',
 'French',
 'Cafe',
 'Bakery',
 'Brazilian',
 'Pizza',
 'Japanese',
 'Arabian',
 'Japanese',
 'Brazilian',
 'Cafe',
 'Italian',
 'Pizza',
 'Bar Food',
 'Brazilian',
 'Mexican',
 'Grill',
 'International',
 'Peruvian',
 'Latin American',
 'American',
 'Grill',
 'Seafood',
 'International',
 'Italian',
 'American',
 'Burger',
 'Seafood',
 'Bar Food',
 'Brazilian',
 'Desserts',
 'Cafe',
 'Juices',
 'Healthy Food',
 'Beverages',
 'Bar Food',
 'Fast Food',
 'Lebanese',
 'Burger',
 'Brazilian',
 'Bar Food',
 'Brazilian',
 'Healthy Food',
 'Juices',
 'Pizza',
 'Brazilian',
 'Bar Food',
 'Brazilian',
 'Brazilian',
 'Italian',
 'Japanese',
 'Bakery',
 'Sandwich',
 'Brazilian',
 'Brazilian',
 'Brazilian',
 'Seafood',
 'Bar Food',
 'Brazilian',
 'Brazilian',
 'Brazilian',
 'Bar Food',
 'Brazilian',
 'Bar Food',
 'Italian',
 'Pizza',
 'Steak',
 'BBQ',
 'Indian',
 'Brazilian',
 'Beverages',
 'International',
 'French',
 'Brazilian',
 'Beverages',
 'Brazilian',
 'Grill',
 'Brazilian',
 'French',
 'Sushi',
 'Japanese',
 'BBQ',
 'Grill',
 'Brazilian',
 'Sushi',
 'Gourmet Fast Food',
 'Burger',
 'Brazilian',
 'Italian',
 'Italian',
 'Brazilian',
 'Mineira',
 'Brazilian',
 'Brazilian',
 'North Eastern',
 'Brazilian',
 'Bar Food',
 'Beverages',
 'Lebanese',
 'Arabian',
 'BBQ',
 'Burger',
 'Seafood',
 'American',
 'BBQ',
 'Mexican',
 'Coffee and Tea',
 'Sandwich',
 'Fast Food',
 'Asian',
 'Chinese',
 'Vegetarian',
 'Pizza',
 'Bar Food',
 'Sandwich',
 'Steak',
 'Tapas',
 'Bar Food',
 'Chinese',
 'Seafood',
 'Vegetarian',
 'Chinese',
 'American',
 'Burger',
 'Sandwich',
 'American',
 'Steak',
 'Japanese',
 'Steak',
 'Sushi',
 'Japanese',
 'Steak',
 'Sushi',
 'Seafood',
 'Tapas',
 'Bar Food',
 'Italian',
 'Pizza',
 'American',
 'Breakfast',
 'Diner',
 'Bar Food',
 'Steak',
 'American',
 'Southern',
 'Southwestern',
 'Southern',
 'Mexican',
 'Japanese',
 'Korean',
 'Breakfast',
 'Burger',
 'Sandwich',
 'Breakfast',
 'Sandwich',
 'American',
 'Burger',
 'Sandwich',
 'American',
 'Italian',
 'Pizza',
 'American',
 'Italian',
 'Pizza',
 'American',
 'International',
 'Southern',
 'Vegetarian',
 'Sandwich',
 'Italian',
 'Asian',
 'Japanese',
 'Sushi',
 'Mexican',
 'Spanish',
 'International',
 'Southern',
 'Bar Food',
 'Italian',
 'Pizza',
 'Sandwich',
 'Burger',
 'Bar Food',
 'Desserts',
 'Latin American',
 'Argentine',
 'Chinese',
 'Steak',
 'American',
 'Caribbean',
 'Seafood',
 'International',
 'Tapas',
 'Vegetarian',
 'Desserts',
 'Sandwich',
 'Southern',
 'American',
 'Burger',
 'Breakfast',
 'French',
 'BBQ',
 'American',
 'Desserts',
 'Italian',
 'Pizza',
 'Italian',
 'Pizza',
 'Sandwich',
 'Mexican',
 'Bar Food',
 'Sandwich',
 'Seafood',
 'Mexican',
 'Southwestern',
 'Sushi',
 'Steak',
 'Indian',
 'German',
 'Vietnamese',
 'Burger',
 'Seafood',
 'Thai',
 'Mexican',
 'Modern Australian',
 'Pizza',
 'Bar Food',
 'American',
 'Bar Food',
 'Italian',
 'Pizza',
 'Breakfast',
 'Sandwich',
 'American',
 'Seafood',
 'Steak',
 'European',
 'Spanish',
 'Latin American',
 'Steak',
 'American',
 'Burger',
 'Sandwich',
 'American',
 'Bar Food',
 'American',
 'Burger',
 'Pizza',
 'American',
 'Burger',
 'Pizza',
 'Mexican',
 'Italian',
 'Seafood',
 'Vegetarian',
 'Sushi',
 'Thai',
 'Japanese',
 'Sushi',
 'Teriyaki',
 'Breakfast',
 'Brazilian',
 'American',
 'BBQ',
 'Steak',
 'American',
 'American',
 'Mediterranean',
 'Seafood',
 'Italian',
 'Pizza',
 'Mexican',
 'American',
 'Breakfast',
 'Burger',
 'American',
 'BBQ',
 'Burger',
 'Indian',
 'Chinese',
 'Sushi',
 'Thai',
 'Chinese',
 'American',
 'Italian',
 'Pizza',
 'Indian',
 'Burger',
 'American',
 'Breakfast',
 'Burger',
 'Breakfast',
 'Diner',
 'American',
 'International',
 'Sushi',
 'Pizza',
 'International',
 'American',
 'Breakfast',
 'Mediterranean',
 'Tapas',
 'Vegetarian',
 'BBQ',
 'Pizza',
 'Sandwich',
 'Japanese',
 'Sushi',
 'American',
 'Breakfast',
 'Desserts',
 'Asian',
 'Japanese',
 'Asian',
 'Vietnamese',
 'American',
 'Seafood',
 'Cajun',
 'American',
 'Burger',
 'Bar Food',
 'Southern',
 'Pizza',
 'Bar Food',
 'Japanese',
 'Steak',
 'Breakfast',
 'Diner',
 'Southern',
 'Japanese',
 'Steak',
 'Sushi',
 'Japanese',
 'Sushi',
 'Thai',
 'Seafood',
 'Steak',
 'Vegetarian',
 'Steak',
 'Chinese',
 'BBQ',
 'Southern',
 'Italian',
 'Pizza',
 'Pizza',
 'American',
 'Tapas',
 'Asian',
 'Chinese',
 'American',
 'Italian',
 'Mediterranean',
 'Pizza',
 'American',
 'Seafood',
 'Steak',
 'Chinese',
 'Canadian',
 'American',
 'BBQ',
 'Southern',
 'Desserts',
 'Sandwich',
 'BBQ',
 'Mexican',
 'Tex-Mex',
 'BBQ',
 'Breakfast',
 'Southern',
 'American',
 'Japanese',
 'Sushi',
 'Mexican',
 'Italian',
 'American',
 'Burger',
 'Fast Food',
 'Mexican',
 'American',
 'Japanese',
 'Sushi',
 'Japanese',
 'Thai',
 'Desserts',
 'Sandwich',
 'BBQ',
 'American',
 'Diner',
 'Southern',
 'American',
 'BBQ',
 'Southern',
 'Italian',
 'Pizza',
 'Indian',
 'Mediterranean',
 'Middle Eastern',
 'Sushi',
 'Teriyaki',
 'Burger',
 'Pizza',
 'American',
 'Breakfast',
 'Greek',
 'Italian',
 'American',
 'Breakfast',
 'Asian',
 'Fast Food',
 'American',
 'French',
 'American',
 'Bar Food',
 'BBQ',
 'Mexican',
 'Mexican',
 'Chinese',
 'Thai',
 'American',
 'American',
 'Mexican',
 'American',
 'Japanese',
 'Sushi',
 'American',
 'BBQ',
 'Steak',
 'BBQ',
 'Burger',
 'Desserts',
 'American',
 'Coffee and Tea',
 'BBQ',
 'Caribbean',
 'Cajun',
 'Asian',
 'Sushi',
 'Thai',
 'Asian',
 'Chinese',
 'Latin American',
 'Mexican',
 'Italian',
 'Pizza',
 'Chinese',
 'Pizza',
 'Asian',
 'Vegetarian',
 'Vietnamese',
 'Bubble Tea',
 'American',
 'Pizza',
 'Bar Food',
 'French',
 'Japanese',
 'Sushi',
 'Burger',
 'Desserts',
 'Vegetarian',
 'American',
 'Italian',
 'Chinese',
 'Breakfast',
 'Mexican',
 'Southwestern',
 'American',
 'BBQ',
 'American',
 'Breakfast',
 'Latin American',
 'Seafood',
 'Sushi',
 'Coffee and Tea',
 'Tea',
 'Modern Australian',
 'Breakfast',
 'Seafood',
 'Mexican',
 'American',
 'BBQ',
 'Seafood',
 'Italian',
 'American',
 'Burger',
 'Sandwich',
 'Mexican',
 'Desserts',
 'Pizza',
 'Ice Cream',
 'American',
 'Burger',
 'Japanese',
 'Steak',
 'Sushi',
 'American',
 'Burger',
 'International',
 'Pizza',
 'Mexican',
 'Breakfast',
 'Pizza',
 'American',
 'Italian',
 'American',
 'Italian',
 'Pizza',
 'American',
 'Breakfast',
 'Burger',
 'American',
 'Burger',
 'Pizza',
 'Cafe',
 'American',
 'Seafood',
 'Steak',
 'Cafe',
 'Mexican',
 'Tea',
 'Modern Australian',
 'Cafe',
 'Australian',
 'American',
 'Sandwich',
 'Seafood',
 'BBQ',
 'Burger',
 'Seafood',
 'American',
 'Burger',
 'Cajun',
 'BBQ',
 'Chinese',
 'Japanese',
 'Thai',
 'Bar Food',
 'Seafood',
 'Vegetarian',
 'Seafood',
 'American',
 'Southern',
 'BBQ',
 'Sandwich',
 'Sandwich',
 'Seafood',
 'Cajun',
 'Thai',
 'BBQ',
 'American',
 'European',
 'Sandwich',
 'Southern',
 'American',
 'Southern',
 'German',
 'German',
 'Ice Cream',
 'Burger',
 'German',
 'Sandwich',
 'Italian',
 'Pizza',
 'Sandwich',
 'Cafe',
 'Coffee and Tea',
 'Modern Australian',
 'Italian',
 'Fusion',
 'Cafe',
 'Breakfast',
 'Modern Australian',
 'Burger',
 'Coffee and Tea',
 'Modern Australian',
 'Breakfast',
 'Coffee and Tea',
 'Burger',
 'Desserts',
 'Sandwich',
 'Thai',
 'Breakfast',
 'Coffee and Tea',
 'Cafe',
 'Coffee and Tea',
 'Cuban',
 'Latin American',
 'Pizza',
 'Sandwich',
 'Seafood',
 'Chinese',
 'Thai',
 'Burger',
 'Desserts',
 'Bar Food',
 'American',
 'Seafood',
 'Steak',
 'Desserts',
 'Greek',
 'Sandwich',
 'European',
 'Italian',
 'Mediterranean',
 'Greek',
 'Mediterranean',
 'Vegetarian',
 'American',
 'Chinese',
 'Sushi',
 'Italian',
 'Japanese',
 'Sushi',
 'Thai',
 'Pizza',
 'Sandwich',
 'Vegetarian',
 'Mexican',
 'American',
 'Greek',
 'Seafood',
 'BBQ',
 'Japanese',
 'Sushi',
 'Thai',
 'Japanese',
 'Steak',
 'Sushi',
 'Asian',
 'Breakfast',
 'Burger',
 'Bar Food',
 'Modern Australian',
 'Italian',
 'Pizza',
 'Coffee and Tea',
 'Modern Australian',
 'American',
 'International',
 'Southwestern',
 'Spanish',
 'Tapas',
 'Hawaiian',
 'American',
 'Sandwich',
 'Salad',
 'Irish',
 'New American',
 'Tapas',
 'Brazilian',
 'Steak',
 'Caribbean',
 'Italian',
 'Asian',
 'Thai',
 'Asian',
 'Latin American',
 'Vegetarian',
 'American',
 'German',
 'American',
 'Sandwich',
 'Tea',
 'American',
 'BBQ',
 'Sandwich',
 'Cajun',
 'Southern',
 'Cajun',
 'Soul Food',
 'Mediterranean',
 'Turkish',
 'American',
 'Breakfast',
 'Vegetarian',
 'Pub Food',
 'Mediterranean',
 'Seafood',
 'Modern Australian',
 'Cafe',
 'Coffee and Tea',
 'Sandwich',
 'Mexican',
 'Southwestern',
 'Tex-Mex',
 'Burger',
 'Bar Food',
 'Steak',
 'Italian',
 'Pizza',
 'Sandwich',
 'Asian',
 'Vietnamese',
 'Italian',
 'Pizza',
 'Seafood',
 'Tapas',
 'Burger',
 'Bar Food',
 'Latin American',
 'Mexican',
 'Southwestern',
 'Seafood',
 'Sushi',
 'European',
 'International',
 'Tapas',
 'Japanese',
 'Sushi',
 'American',
 'Seafood',
 'Sushi',
 'Italian',
 'Mediterranean',
 'Pizza',
 'Seafood',
 'Caribbean',
 'Seafood',
 'Steak',
 'Breakfast',
 'Burger',
 'Burger',
 'Sandwich',
 'Seafood',
 'Caribbean',
 'Seafood',
 'Greek',
 'Sandwich',
 'Seafood',
 'Cajun',
 'Breakfast',
 'Coffee and Tea',
 'Modern Australian',
 'Burger',
 'Fast Food',
 'American',
 'BBQ',
 'Steak',
 'Asian',
 'Thai',
 'Pizza',
 'Bar Food',
 'Italian',
 'Pizza',
 'Sandwich',
 'American',
 'Breakfast',
 'Chinese',
 'Coffee and Tea',
 'Sandwich',
 'Pizza',
 'Sandwich',
 'American',
 'Greek',
 'Burger',
 'Pizza',
 'Sandwich',
 'American',
 'Pizza',
 'American',
 'Seafood',
 'Steak',
 'Mexican',
 'Asian',
 'Sushi',
 'Vegetarian',
 'Indian',
 'International',
 'Vegetarian',
 'Desserts',
 'Thai',
 'New American',
 'Indian',
 'Persian',
 'Mexican',
 'American',
 'BBQ',
 'Burger',
 'Seafood',
 'Seafood',
 'American',
 'Pizza',
 'Bar Food',
 'Seafood',
 'American',
 'Hawaiian',
 'Burger',
 'Japanese',
 'Seafood',
 'Sushi',
 'Asian',
 'Asian',
 'Breakfast',
 'Hawaiian',
 'Breakfast',
 'Burger',
 'Hawaiian',
 'Seafood',
 'Steak',
 'Hawaiian',
 'Seafood',
 'Steak',
 'Hawaiian',
 'Seafood',
 'Japanese',
 'American',
 'Asian',
 'Burger',
 'American',
 'Hawaiian',
 'Seafood',
 'Steak',
 'Breakfast',
 'Asian',
 'European',
 'Seafood',
 'American',
 'Breakfast',
 'Hawaiian',
 'Southern',
 'Burger',
 'Desserts',
 'Sandwich',
 'Ice Cream',
 'American',
 'Southern',
 'International',
 'Mediterranean',
 'Sandwich',
 'American',
 'Bar Food',
 'Sandwich',
 'American',
 'Seafood',
 'Steak',
 'American',
 'Breakfast',
 'American',
 'Bar Food',
 'Breakfast',
 'Vegetarian',
 'American',
 'Breakfast',
 'Breakfast',
 'Cajun',
 'Breakfast',
 'Diner',
 'Sandwich',
 'Coffee and Tea',
 'Desserts',
 'Pizza',
 'Seafood',
 'Steak',
 'Cafe',
 'Sandwich',
 'Southern',
 'American',
 'Seafood',
 'Southern',
 'American',
 'Seafood',
 'Chinese',
 'Continental',
 'Singaporean',
 'American',
 'Steak',
 'French',
 'Mediterranean',
 'European',
 'American',
 'French',
 'French',
 'Bakery',
 'Italian',
 'Italian',
 'French',
 'Bakery',
 'Cafe',
 'American',
 'Japanese',
 'Singaporean',
 'Cafe',
 'Singaporean',
 'Chinese',
 'Seafood',
 'Malay',
 'Indian',
 'Asian',
 'Continental',
 'Seafood',
 'Chinese',
 'Seafood',
 'Cantonese',
 'Dim Sum',
 'Singaporean',
 'Australian',
 'German',
 'Western',
 'Fusion',
 'Fast Food',
 'American',
 'Mexican',
 'American',
 'Bakery',
 'European',
 'Burger',
 'Fusion',
 'Finger Food',
 'Cafe',
 'Spanish',
 'Turkish',
 'Greek',
 'Burger',
 'Seafood',
 'Steak',
 'American',
 'Pizza',
 'Bar Food',
 'Asian',
 'Vegetarian',
 'Vietnamese',
 'BBQ',
 'Japanese',
 'Sushi',
 'Asian',
 'Chinese',
 'Chinese',
 'Pizza',
 'Burger',
 'American',
 'Desserts',
 'Diner',
 'American',
 'American',
 'Fast Food',
 'American',
 'Seafood',
 'Steak',
 'Mexican',
 'Caribbean',
 'Mexican',
 'Cajun',
 'Japanese',
 'Steak',
 'Sushi',
 'Asian',
 'Thai',
 ...]

In [84]:
cuisine_counts = Counter(all_cuisines)
cuisine_counts

Counter({'North Indian': 3960,
         'Chinese': 2735,
         'Fast Food': 1986,
         'Mughlai': 995,
         'Italian': 764,
         'Bakery': 745,
         'Continental': 736,
         'Cafe': 703,
         'Desserts': 653,
         'South Indian': 636,
         'Street Food': 562,
         'American': 390,
         'Pizza': 381,
         'Mithai': 380,
         'Burger': 251,
         'Thai': 234,
         'Asian': 233,
         'Beverages': 229,
         'Ice Cream': 226,
         'Mexican': 181,
         'Biryani': 177,
         'Seafood': 174,
         'Healthy Food': 150,
         'European': 148,
         'Japanese': 135,
         'Finger Food': 114,
         'Raw Meats': 114,
         'Mediterranean': 112,
         'Salad': 93,
         'Sushi': 75,
         'Indian': 70,
         'Lebanese': 69,
         'Steak': 62,
         'Sandwich': 53,
         'Tea': 48,
         'Tibetan': 44,
         'Breakfast': 41,
         'Bar Food': 39,
         'BBQ': 33,
         'French': 29,
         'Juices': 29,
         'Bengali': 29,
         'Brazilian': 28,
         'Arabian': 28,
         'Hyderabadi': 26,
         'Southern': 24,
         'Vegetarian': 23,
         'Kerala': 23,
         'Middle Eastern': 22,
         'Malaysian': 22,
         'Korean': 21,
         'Grill': 21,
         'International': 21,
         'Vietnamese': 21,
         'Rajasthani': 21,
         'Goan': 20,
         'Kashmiri': 20,
         'Coffee and Tea': 19,
         'Tapas': 19,
         'Tex-Mex': 19,
         'Spanish': 16,
         'British': 16,
         'Modern Indian': 16,
         'Greek': 15,
         'Turkish': 15,
         'Indonesian': 14,
         'Afghani': 14,
         'Lucknowi': 13,
         'Pakistani': 12,
         'Latin American': 11,
         'Modern Australian': 11,
         'Gujarati': 11,
         'Chettinad': 11,
         'Awadhi': 11,
         'Filipino': 10,
         'German': 10,
         'Cajun': 10,
         'Western': 10,
         'Maharashtrian': 10,
         'Burmese': 10,
         'Andhra': 10,
         'Kebab': 10,
         'North Eastern': 9,
         'Nepalese': 9,
         'Contemporary': 9,
         'Hawaiian': 8,
         'African': 8,
         'Parsi': 8,
         'Naga': 8,
         'Turkish Pizza': 8,
         'Southwestern': 7,
         'Caribbean': 7,
         'Portuguese': 7,
         'Diner': 6,
         'Bihari': 6,
         'Kiwi': 6,
         'Curry': 6,
         'South African': 6,
         'Australian': 5,
         'Moroccan': 5,
         'Sri Lankan': 5,
         'Fusion': 4,
         'Singaporean': 4,
         'Charcoal Grill': 4,
         'Assamese': 4,
         'Mangalorean': 4,
         'Patisserie': 4,
         'World Cuisine': 4,
         'Restaurant Cafe': 4,
         'Dim Sum': 3,
         'Deli': 3,
         'Armenian': 3,
         'Iranian': 3,
         'Sunda': 3,
         'Scottish': 3,
         'Argentine': 2,
         'Teriyaki': 2,
         'Cuban': 2,
         'New American': 2,
         'Pub Food': 2,
         'Persian': 2,
         'Cantonese': 2,
         'Belgian': 2,
         'South American': 2,
         'Drinks Only': 2,
         'Oriya': 2,
         'Ramen': 2,
         'Asian Fusion': 2,
         'Taiwanese': 2,
         'Izgara': 2,
         'Peruvian': 1,
         'Gourmet Fast Food': 1,
         'Mineira': 1,
         'Canadian': 1,
         'Bubble Tea': 1,
         'Irish': 1,
         'Soul Food': 1,
         'Malay': 1,
         'Malwani': 1,
         'Cuisine Varies': 1,
         'Peranakan': 1,
         'Fish and Chips': 1,
         'Durban': 1,
         'D�_ner': 1,
         'B�_rek': 1})

In [80]:
cuisine_df = pd.DataFrame(cuisine_counts.items(), columns=['Cuisine', 'Count']).sort_values(by='Count', ascending=False)
cuisine_df

            Cuisine  Count
81     North Indian   3960
9           Chinese   2735
19        Fast Food   1986
82          Mughlai    995
15          Italian    764
..              ...    ...
131  Fish and Chips      1
120         Malwani      1
121  Cuisine Varies      1
67        Soul Food      1
144          B�_rek      1

[145 rows x 2 columns]

In [86]:
top_10_cuisines = cuisine_df.head(10)
top_10_cuisines

         Cuisine  Count
81  North Indian   3960
9        Chinese   2735
19     Fast Food   1986
82       Mughlai    995
15       Italian    764
17        Bakery    745
71   Continental    736
14          Cafe    703
2       Desserts    653
84  South Indian    636

In [88]:
# For cities

from collections import Counter

all_cities = resturant_df['City'].dropna().str.split(',').sum()
all_cities = [c.strip() for c in all_cities]
all_cities

['Makati City',
 'Makati City',
 'Mandaluyong City',
 'Mandaluyong City',
 'Mandaluyong City',
 'Mandaluyong City',
 'Pasay City',
 'Pasay City',
 'Pasay City',
 'Pasig City',
 'Pasig City',
 'Pasig City',
 'Quezon City',
 'San Juan City',
 'San Juan City',
 'Santa Rosa',
 'Santa Rosa',
 'Tagaytay City',
 'Taguig City',
 'Taguig City',
 'Taguig City',
 'Taguig City',
 'Bras�_lia',
 'Bras�_lia',
 'Bras�_lia',
 'Bras�_lia',
 'Bras�_lia',
 'Bras�_lia',
 'Bras�_lia',
 'Bras�_lia',
 'Bras�_lia',
 'Bras�_lia',
 'Bras�_lia',
 'Bras�_lia',
 'Bras�_lia',
 'Bras�_lia',
 'Bras�_lia',
 'Bras�_lia',
 'Bras�_lia',
 'Bras�_lia',
 'Bras�_lia',
 'Bras�_lia',
 'Rio de Janeiro',
 'Rio de Janeiro',
 'Rio de Janeiro',
 'Rio de Janeiro',
 'Rio de Janeiro',
 'Rio de Janeiro',
 'Rio de Janeiro',
 'Rio de Janeiro',
 'Rio de Janeiro',
 'Rio de Janeiro',
 'Rio de Janeiro',
 'Rio de Janeiro',
 'Rio de Janeiro',
 'Rio de Janeiro',
 'Rio de Janeiro',
 'Rio de Janeiro',
 'Rio de Janeiro',
 'Rio de Janeiro',
 'Rio de Janeiro',
 'Rio de Janeiro',
 'S��o Paulo',
 'S��o Paulo',
 'S��o Paulo',
 'S��o Paulo',
 'S��o Paulo',
 'S��o Paulo',
 'S��o Paulo',
 'S��o Paulo',
 'S��o Paulo',
 'S��o Paulo',
 'S��o Paulo',
 'S��o Paulo',
 'S��o Paulo',
 'S��o Paulo',
 'S��o Paulo',
 'S��o Paulo',
 'S��o Paulo',
 'S��o Paulo',
 'S��o Paulo',
 'S��o Paulo',
 'Albany',
 'Albany',
 'Albany',
 'Albany',
 'Albany',
 'Albany',
 'Albany',
 'Albany',
 'Albany',
 'Albany',
 'Albany',
 'Albany',
 'Albany',
 'Albany',
 'Albany',
 'Albany',
 'Albany',
 'Albany',
 'Albany',
 'Albany',
 'Armidale',
 'Athens',
 'Athens',
 'Athens',
 'Athens',
 'Athens',
 'Athens',
 'Athens',
 'Athens',
 'Athens',
 'Athens',
 'Athens',
 'Athens',
 'Athens',
 'Athens',
 'Athens',
 'Athens',
 'Athens',
 'Athens',
 'Athens',
 'Athens',
 'Augusta',
 'Augusta',
 'Augusta',
 'Augusta',
 'Augusta',
 'Augusta',
 'Augusta',
 'Augusta',
 'Augusta',
 'Augusta',
 'Augusta',
 'Augusta',
 'Augusta',
 'Augusta',
 'Augusta',
 'Augusta',
 'Augusta',
 'Augusta',
 'Augusta',
 'Augusta',
 'Balingup',
 'Beechworth',
 'Boise',
 'Boise',
 'Boise',
 'Boise',
 'Boise',
 'Boise',
 'Boise',
 'Boise',
 'Boise',
 'Boise',
 'Boise',
 'Boise',
 'Boise',
 'Boise',
 'Boise',
 'Boise',
 'Boise',
 'Boise',
 'Boise',
 'Boise',
 'Cedar Rapids/Iowa City',
 'Cedar Rapids/Iowa City',
 'Cedar Rapids/Iowa City',
 'Cedar Rapids/Iowa City',
 'Cedar Rapids/Iowa City',
 'Cedar Rapids/Iowa City',
 'Cedar Rapids/Iowa City',
 'Cedar Rapids/Iowa City',
 'Cedar Rapids/Iowa City',
 'Cedar Rapids/Iowa City',
 'Cedar Rapids/Iowa City',
 'Cedar Rapids/Iowa City',
 'Cedar Rapids/Iowa City',
 'Cedar Rapids/Iowa City',
 'Cedar Rapids/Iowa City',
 'Cedar Rapids/Iowa City',
 'Cedar Rapids/Iowa City',
 'Cedar Rapids/Iowa City',
 'Cedar Rapids/Iowa City',
 'Cedar Rapids/Iowa City',
 'Chatham-Kent',
 'Clatskanie',
 'Cochrane',
 'Columbus',
 'Columbus',
 'Columbus',
 'Columbus',
 'Columbus',
 'Columbus',
 'Columbus',
 'Columbus',
 'Columbus',
 'Columbus',
 'Columbus',
 'Columbus',
 'Columbus',
 'Columbus',
 'Columbus',
 'Columbus',
 'Columbus',
 'Columbus',
 'Columbus',
 'Columbus',
 'Consort',
 'Dalton',
 'Dalton',
 'Dalton',
 'Dalton',
 'Dalton',
 'Dalton',
 'Dalton',
 'Dalton',
 'Dalton',
 'Dalton',
 'Dalton',
 'Dalton',
 'Dalton',
 'Dalton',
 'Dalton',
 'Dalton',
 'Dalton',
 'Dalton',
 'Dalton',
 'Dalton',
 'Davenport',
 'Davenport',
 'Davenport',
 'Davenport',
 'Davenport',
 'Davenport',
 'Davenport',
 'Davenport',
 'Davenport',
 'Davenport',
 'Davenport',
 'Davenport',
 'Davenport',
 'Davenport',
 'Davenport',
 'Davenport',
 'Davenport',
 'Davenport',
 'Davenport',
 'Davenport',
 'Des Moines',
 'Des Moines',
 'Des Moines',
 'Des Moines',
 'Des Moines',
 'Des Moines',
 'Des Moines',
 'Des Moines',
 'Des Moines',
 'Des Moines',
 'Des Moines',
 'Des Moines',
 'Des Moines',
 'Des Moines',
 'Des Moines',
 'Des Moines',
 'Des Moines',
 'Des Moines',
 'Des Moines',
 'Des Moines',
 'Dicky Beach',
 'Dubuque',
 'Dubuque',
 'Dubuque',
 'Dubuque',
 'Dubuque',
 'Dubuque',
 'Dubuque',
 'Dubuque',
 'Dubuque',
 'Dubuque',
 'Dubuque',
 'Dubuque',
 'Dubuque',
 'Dubuque',
 'Dubuque',
 'Dubuque',
 'Dubuque',
 'Dubuque',
 'Dubuque',
 'Dubuque',
 'East Ballina',
 'Fernley',
 'Flaxton',
 'Forrest',
 'Gainesville',
 'Gainesville',
 'Gainesville',
 'Gainesville',
 'Gainesville',
 'Gainesville',
 'Gainesville',
 'Gainesville',
 'Gainesville',
 'Gainesville',
 'Gainesville',
 'Gainesville',
 'Gainesville',
 'Gainesville',
 'Gainesville',
 'Gainesville',
 'Gainesville',
 'Gainesville',
 'Gainesville',
 'Gainesville',
 'Hepburn Springs',
 'Hepburn Springs',
 'Huskisson',
 'Inverloch',
 'Lakes Entrance',
 'Lakeview',
 'Lincoln',
 'Lorn',
 'Macedon',
 'Macon',
 'Macon',
 'Macon',
 'Macon',
 'Macon',
 'Macon',
 'Macon',
 'Macon',
 'Macon',
 'Macon',
 'Macon',
 'Macon',
 'Macon',
 'Macon',
 'Macon',
 'Macon',
 'Macon',
 'Macon',
 'Macon',
 'Macon',
 'Mayfield',
 'Mc Millan',
 'Middleton Beach',
 'Miller',
 'Monroe',
 'Montville',
 'Ojo Caliente',
 'Orlando',
 'Orlando',
 'Orlando',
 'Orlando',
 'Orlando',
 'Orlando',
 'Orlando',
 'Orlando',
 'Orlando',
 'Orlando',
 'Orlando',
 'Orlando',
 'Orlando',
 'Orlando',
 'Orlando',
 'Orlando',
 'Orlando',
 'Orlando',
 'Orlando',
 'Orlando',
 'Palm Cove',
 'Paynesville',
 'Penola',
 'Pensacola',
 'Pensacola',
 'Pensacola',
 'Pensacola',
 'Pensacola',
 'Pensacola',
 'Pensacola',
 'Pensacola',
 'Pensacola',
 'Pensacola',
 'Pensacola',
 'Pensacola',
 'Pensacola',
 'Pensacola',
 'Pensacola',
 'Pensacola',
 'Pensacola',
 'Pensacola',
 'Pensacola',
 'Pensacola',
 'Phillip Island',
 'Pocatello',
 'Pocatello',
 'Pocatello',
 'Pocatello',
 'Pocatello',
 'Pocatello',
 'Pocatello',
 'Pocatello',
 'Pocatello',
 'Pocatello',
 'Pocatello',
 'Pocatello',
 'Pocatello',
 'Pocatello',
 'Pocatello',
 'Pocatello',
 'Pocatello',
 'Pocatello',
 'Pocatello',
 'Pocatello',
 'Potrero',
 'Princeton',
 'Rest of Hawaii',
 'Rest of Hawaii',
 'Rest of Hawaii',
 'Rest of Hawaii',
 'Rest of Hawaii',
 'Rest of Hawaii',
 'Rest of Hawaii',
 'Rest of Hawaii',
 'Rest of Hawaii',
 'Rest of Hawaii',
 'Rest of Hawaii',
 'Rest of Hawaii',
 'Rest of Hawaii',
 'Rest of Hawaii',
 'Rest of Hawaii',
 'Rest of Hawaii',
 'Rest of Hawaii',
 'Rest of Hawaii',
 'Rest of Hawaii',
 'Rest of Hawaii',
 'Savannah',
 'Savannah',
 'Savannah',
 'Savannah',
 'Savannah',
 'Savannah',
 'Savannah',
 'Savannah',
 'Savannah',
 'Savannah',
 'Savannah',
 'Savannah',
 'Savannah',
 'Savannah',
 'Savannah',
 'Savannah',
 'Savannah',
 'Savannah',
 'Savannah',
 'Savannah',
 'Singapore',
 'Singapore',
 'Singapore',
 'Singapore',
 'Singapore',
 'Singapore',
 'Singapore',
 'Singapore',
 'Singapore',
 'Singapore',
 'Singapore',
 'Singapore',
 'Singapore',
 'Singapore',
 'Singapore',
 'Singapore',
 'Singapore',
 'Singapore',
 'Singapore',
 'Singapore',
 'Sioux City',
 'Sioux City',
 'Sioux City',
 'Sioux City',
 'Sioux City',
 'Sioux City',
 'Sioux City',
 'Sioux City',
 'Sioux City',
 'Sioux City',
 'Sioux City',
 'Sioux City',
 'Sioux City',
 'Sioux City',
 'Sioux City',
 'Sioux City',
 'Sioux City',
 'Sioux City',
 'Sioux City',
 'Sioux City',
 'Tampa Bay',
 'Tampa Bay',
 'Tampa Bay',
 'Tampa Bay',
 'Tampa Bay',
 'Tampa Bay',
 'Tampa Bay',
 'Tampa Bay',
 'Tampa Bay',
 'Tampa Bay',
 'Tampa Bay',
 'Tampa Bay',
 'Tampa Bay',
 'Tampa Bay',
 'Tampa Bay',
 'Tampa Bay',
 'Tampa Bay',
 'Tampa Bay',
 'Tampa Bay',
 'Tampa Bay',
 'Tanunda',
 'Trentham East',
 'Valdosta',
 'Valdosta',
 'Valdosta',
 'Valdosta',
 'Valdosta',
 'Valdosta',
 'Valdosta',
 'Valdosta',
 'Valdosta',
 'Valdosta',
 'Valdosta',
 'Valdosta',
 'Valdosta',
 'Valdosta',
 'Valdosta',
 'Valdosta',
 'Valdosta',
 'Valdosta',
 'Valdosta',
 'Valdosta',
 'Vernonia',
 'Victor Harbor',
 'Vineland Station',
 'Waterloo',
 'Waterloo',
 'Waterloo',
 'Waterloo',
 'Waterloo',
 'Waterloo',
 'Waterloo',
 'Waterloo',
 'Waterloo',
 'Waterloo',
 'Waterloo',
 'Waterloo',
 'Waterloo',
 'Waterloo',
 'Waterloo',
 'Waterloo',
 'Waterloo',
 'Waterloo',
 'Waterloo',
 'Waterloo',
 'Weirton',
 'Winchester Bay',
 'Yorkton',
 'Abu Dhabi',
 'Abu Dhabi',
 'Abu Dhabi',
 'Abu Dhabi',
 'Abu Dhabi',
 'Abu Dhabi',
 'Abu Dhabi',
 'Abu Dhabi',
 'Abu Dhabi',
 'Abu Dhabi',
 'Abu Dhabi',
 'Abu Dhabi',
 'Abu Dhabi',
 'Abu Dhabi',
 'Abu Dhabi',
 'Abu Dhabi',
 'Abu Dhabi',
 'Abu Dhabi',
 'Abu Dhabi',
 'Abu Dhabi',
 'Dubai',
 'Dubai',
 'Dubai',
 'Dubai',
 'Dubai',
 'Dubai',
 'Dubai',
 'Dubai',
 'Dubai',
 'Dubai',
 'Dubai',
 'Dubai',
 'Dubai',
 'Dubai',
 'Dubai',
 'Dubai',
 'Dubai',
 'Dubai',
 'Dubai',
 'Dubai',
 'Sharjah',
 'Sharjah',
 'Sharjah',
 'Sharjah',
 'Sharjah',
 'Sharjah',
 'Sharjah',
 'Sharjah',
 'Sharjah',
 'Sharjah',
 'Sharjah',
 'Sharjah',
 'Sharjah',
 'Sharjah',
 'Sharjah',
 'Sharjah',
 'Sharjah',
 'Sharjah',
 'Sharjah',
 'Sharjah',
 'Agra',
 'Agra',
 'Agra',
 'Agra',
 'Agra',
 'Agra',
 'Agra',
 'Agra',
 'Agra',
 'Agra',
 'Agra',
 'Agra',
 'Agra',
 'Agra',
 'Agra',
 'Agra',
 'Agra',
 'Agra',
 'Agra',
 'Agra',
 'Ahmedabad',
 'Ahmedabad',
 'Ahmedabad',
 'Ahmedabad',
 'Ahmedabad',
 'Ahmedabad',
 'Ahmedabad',
 'Ahmedabad',
 'Ahmedabad',
 'Ahmedabad',
 'Ahmedabad',
 'Ahmedabad',
 'Ahmedabad',
 'Ahmedabad',
 'Ahmedabad',
 'Ahmedabad',
 'Ahmedabad',
 'Ahmedabad',
 'Ahmedabad',
 'Ahmedabad',
 'Ahmedabad',
 'Allahabad',
 'Allahabad',
 'Allahabad',
 'Allahabad',
 'Allahabad',
 'Allahabad',
 'Allahabad',
 'Allahabad',
 'Allahabad',
 'Allahabad',
 'Allahabad',
 'Allahabad',
 'Allahabad',
 'Allahabad',
 'Allahabad',
 'Allahabad',
 'Allahabad',
 'Allahabad',
 'Allahabad',
 'Allahabad',
 'Amritsar',
 'Amritsar',
 'Amritsar',
 'Amritsar',
 'Amritsar',
 'Amritsar',
 'Amritsar',
 'Amritsar',
 'Amritsar',
 'Amritsar',
 'Amritsar',
 'Amritsar',
 'Amritsar',
 'Amritsar',
 'Amritsar',
 'Amritsar',
 'Amritsar',
 'Amritsar',
 'Amritsar',
 'Amritsar',
 'Amritsar',
 'Aurangabad',
 'Aurangabad',
 'Aurangabad',
 'Aurangabad',
 'Aurangabad',
 'Aurangabad',
 'Aurangabad',
 'Aurangabad',
 'Aurangabad',
 'Aurangabad',
 'Aurangabad',
 'Aurangabad',
 'Aurangabad',
 'Aurangabad',
 'Aurangabad',
 'Aurangabad',
 'Aurangabad',
 'Aurangabad',
 'Aurangabad',
 'Aurangabad',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bhopal',
 'Bhopal',
 'Bhopal',
 'Bhopal',
 'Bhopal',
 'Bhopal',
 'Bhopal',
 'Bhopal',
 'Bhopal',
 'Bhopal',
 'Bhopal',
 'Bhopal',
 'Bhopal',
 'Bhopal',
 'Bhopal',
 'Bhopal',
 'Bhopal',
 'Bhopal',
 'Bhopal',
 'Bhopal',
 'Bhubaneshwar',
 'Bhubaneshwar',
 'Bhubaneshwar',
 'Bhubaneshwar',
 'Bhubaneshwar',
 'Bhubaneshwar',
 'Bhubaneshwar',
 'Bhubaneshwar',
 'Bhubaneshwar',
 'Bhubaneshwar',
 'Bhubaneshwar',
 'Bhubaneshwar',
 'Bhubaneshwar',
 'Bhubaneshwar',
 'Bhubaneshwar',
 'Bhubaneshwar',
 'Bhubaneshwar',
 'Bhubaneshwar',
 'Bhubaneshwar',
 'Bhubaneshwar',
 'Bhubaneshwar',
 'Chandigarh',
 'Chandigarh',
 'Chandigarh',
 'Chandigarh',
 'Chandigarh',
 'Chandigarh',
 'Chandigarh',
 'Chandigarh',
 'Chandigarh',
 'Chandigarh',
 'Chandigarh',
 'Chandigarh',
 'Chandigarh',
 'Chandigarh',
 'Chandigarh',
 'Chandigarh',
 'Chandigarh',
 'Chandigarh',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Coimbatore',
 'Coimbatore',
 'Coimbatore',
 'Coimbatore',
 'Coimbatore',
 'Coimbatore',
 'Coimbatore',
 'Coimbatore',
 'Coimbatore',
 'Coimbatore',
 'Coimbatore',
 'Coimbatore',
 'Coimbatore',
 'Coimbatore',
 'Coimbatore',
 'Coimbatore',
 'Coimbatore',
 'Coimbatore',
 'Coimbatore',
 'Coimbatore',
 'Dehradun',
 'Dehradun',
 'Dehradun',
 'Dehradun',
 'Dehradun',
 'Dehradun',
 'Dehradun',
 'Dehradun',
 'Dehradun',
 'Dehradun',
 'Dehradun',
 'Dehradun',
 'Dehradun',
 'Dehradun',
 'Dehradun',
 'Dehradun',
 'Dehradun',
 'Dehradun',
 'Dehradun',
 'Dehradun',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 'Faridabad',
 ...]

In [90]:
cities_counts = Counter(all_cities)
cities_counts

Counter({'New Delhi': 5473,
         'Gurgaon': 1118,
         'Noida': 1080,
         'Faridabad': 251,
         'Ghaziabad': 25,
         'Ahmedabad': 21,
         'Amritsar': 21,
         'Bhubaneshwar': 21,
         'Guwahati': 21,
         'Lucknow': 21,
         'Bras�_lia': 20,
         'Rio de Janeiro': 20,
         'S��o Paulo': 20,
         'Albany': 20,
         'Athens': 20,
         'Augusta': 20,
         'Boise': 20,
         'Cedar Rapids/Iowa City': 20,
         'Columbus': 20,
         'Dalton': 20,
         'Davenport': 20,
         'Des Moines': 20,
         'Dubuque': 20,
         'Gainesville': 20,
         'Macon': 20,
         'Orlando': 20,
         'Pensacola': 20,
         'Pocatello': 20,
         'Rest of Hawaii': 20,
         'Savannah': 20,
         'Singapore': 20,
         'Sioux City': 20,
         'Tampa Bay': 20,
         'Valdosta': 20,
         'Waterloo': 20,
         'Abu Dhabi': 20,
         'Dubai': 20,
         'Sharjah': 20,
         'Agra': 20,
         'Allahabad': 20,
         'Aurangabad': 20,
         'Bangalore': 20,
         'Bhopal': 20,
         'Chennai': 20,
         'Coimbatore': 20,
         'Dehradun': 20,
         'Goa': 20,
         'Indore': 20,
         'Jaipur': 20,
         'Kanpur': 20,
         'Kochi': 20,
         'Kolkata': 20,
         'Ludhiana': 20,
         'Mangalore': 20,
         'Mumbai': 20,
         'Mysore': 20,
         'Nagpur': 20,
         'Nashik': 20,
         'Patna': 20,
         'Puducherry': 20,
         'Pune': 20,
         'Ranchi': 20,
         'Surat': 20,
         'Vadodara': 20,
         'Varanasi': 20,
         'Vizag': 20,
         'Auckland': 20,
         'Wellington City': 20,
         'Birmingham': 20,
         'Edinburgh': 20,
         'London': 20,
         'Manchester': 20,
         'Doha': 20,
         'Cape Town': 20,
         'Pretoria': 20,
         'Colombo': 20,
         'Ankara': 20,
         'Chandigarh': 18,
         'Hyderabad': 18,
         'Jakarta': 16,
         '��stanbul': 14,
         'Sandton': 11,
         'Johannesburg': 6,
         'Mandaluyong City': 4,
         'Taguig City': 4,
         'Pasay City': 3,
         'Pasig City': 3,
         'Makati City': 2,
         'San Juan City': 2,
         'Santa Rosa': 2,
         'Hepburn Springs': 2,
         'Secunderabad': 2,
         'Bogor': 2,
         'Tangerang': 2,
         'Inner City': 2,
         'Quezon City': 1,
         'Tagaytay City': 1,
         'Armidale': 1,
         'Balingup': 1,
         'Beechworth': 1,
         'Chatham-Kent': 1,
         'Clatskanie': 1,
         'Cochrane': 1,
         'Consort': 1,
         'Dicky Beach': 1,
         'East Ballina': 1,
         'Fernley': 1,
         'Flaxton': 1,
         'Forrest': 1,
         'Huskisson': 1,
         'Inverloch': 1,
         'Lakes Entrance': 1,
         'Lakeview': 1,
         'Lincoln': 1,
         'Lorn': 1,
         'Macedon': 1,
         'Mayfield': 1,
         'Mc Millan': 1,
         'Middleton Beach': 1,
         'Miller': 1,
         'Monroe': 1,
         'Montville': 1,
         'Ojo Caliente': 1,
         'Palm Cove': 1,
         'Paynesville': 1,
         'Penola': 1,
         'Phillip Island': 1,
         'Potrero': 1,
         'Princeton': 1,
         'Tanunda': 1,
         'Trentham East': 1,
         'Vernonia': 1,
         'Victor Harbor': 1,
         'Vineland Station': 1,
         'Weirton': 1,
         'Winchester Bay': 1,
         'Yorkton': 1,
         'Mohali': 1,
         'Panchkula': 1,
         'Bandung': 1,
         'Randburg': 1})

In [92]:
cities_df = pd.DataFrame(cities_counts.items(), columns=['City', 'Count']).sort_values(by='Count', ascending=False)
cities_df

                 City  Count
109         New Delhi   5473
93            Gurgaon   1118
110             Noida   1080
90          Faridabad    251
91          Ghaziabad     25
..                ...    ...
111         Panchkula      1
45          Mc Millan      1
44           Mayfield      1
42            Macedon      1
70   Vineland Station      1

[141 rows x 2 columns]

In [94]:
top_10_cities = cities_df.head(10)
top_10_cities

             City  Count
109     New Delhi   5473
93        Gurgaon   1118
110         Noida   1080
90      Faridabad    251
91      Ghaziabad     25
85   Bhubaneshwar     21
81       Amritsar     21
79      Ahmedabad     21
101       Lucknow     21
94       Guwahati     21