## Task-2 : Customer Preference Analysis

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Load the data

resturant_df = pd.read_csv(r"C:\Users\sangi\Downloads\Dataset .csv")
resturant_df

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",...,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,314
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,...,Botswana Pula(P),Yes,No,No,No,3,4.5,Dark Green,Excellent,591
2,6300002,Heat - Edsa Shangri-La,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",...,Botswana Pula(P),Yes,No,No,No,4,4.4,Green,Very Good,270
3,6318506,Ooma,162,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.056475,14.585318,"Japanese, Sushi",...,Botswana Pula(P),No,No,No,No,4,4.9,Dark Green,Excellent,365
4,6314302,Sambo Kojin,162,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.057508,14.584450,"Japanese, Korean",...,Botswana Pula(P),Yes,No,No,No,4,4.8,Dark Green,Excellent,229
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9546,5915730,Naml۱ Gurme,208,��stanbul,"Kemanke�� Karamustafa Pa��a Mahallesi, R۱ht۱m ...",Karak�_y,"Karak�_y, ��stanbul",28.977392,41.022793,Turkish,...,Turkish Lira(TL),No,No,No,No,3,4.1,Green,Very Good,788
9547,5908749,Ceviz A��ac۱,208,��stanbul,"Ko��uyolu Mahallesi, Muhittin ��st�_nda�� Cadd...",Ko��uyolu,"Ko��uyolu, ��stanbul",29.041297,41.009847,"World Cuisine, Patisserie, Cafe",...,Turkish Lira(TL),No,No,No,No,3,4.2,Green,Very Good,1034
9548,5915807,Huqqa,208,��stanbul,"Kuru�_e��me Mahallesi, Muallim Naci Caddesi, N...",Kuru�_e��me,"Kuru�_e��me, ��stanbul",29.034640,41.055817,"Italian, World Cuisine",...,Turkish Lira(TL),No,No,No,No,4,3.7,Yellow,Good,661
9549,5916112,A���k Kahve,208,��stanbul,"Kuru�_e��me Mahallesi, Muallim Naci Caddesi, N...",Kuru�_e��me,"Kuru�_e��me, ��stanbul",29.036019,41.057979,Restaurant Cafe,...,Turkish Lira(TL),No,No,No,No,4,4.0,Green,Very Good,901
9550,5927402,Walter's Coffee Roastery,208,��stanbul,"Cafea��a Mahallesi, Bademalt۱ Sokak, No 21/B, ...",Moda,"Moda, ��stanbul",29.026016,40.984776,Cafe,...,Turkish Lira(TL),No,No,No,No,2,4.0,Green,Very Good,591

**Analyze the relationship between the type of cuisine and the restaurant's rating**

In [7]:
resturant_df['Aggregate rating'].dropna()

0       4.8
1       4.5
2       4.4
3       4.9
4       4.8
       ...
9546    4.1
9547    4.2
9548    3.7
9549    4.0
9550    4.0
Name: Aggregate rating, Length: 9551, dtype: float64

In [11]:
resturant_df['Cuisines'].dropna()

0             French, Japanese, Desserts
1                               Japanese
2       Seafood, Asian, Filipino, Indian
3                        Japanese, Sushi
4                       Japanese, Korean
                      ...
9546                             Turkish
9547     World Cuisine, Patisserie, Cafe
9548              Italian, World Cuisine
9549                     Restaurant Cafe
9550                                Cafe
Name: Cuisines, Length: 9542, dtype: object

In [15]:
# Spliting the resturants with multiple cuisines

resturant_df['Cuisines'] = resturant_df['Cuisines'].apply(lambda x: x.split(',')[0].strip() if isinstance(x, str) else x)
resturant_df['Cuisines']

0                French
1              Japanese
2               Seafood
3              Japanese
4              Japanese
             ...
9546            Turkish
9547      World Cuisine
9548            Italian
9549    Restaurant Cafe
9550               Cafe
Name: Cuisines, Length: 9551, dtype: object

In [29]:
from collections import Counter

cuisine_rating = resturant_df.groupby('Cuisines')['Aggregate rating'].mean().reset_index()

# Count number of restaurants per cuisine

cuisine_count = resturant_df['Cuisines'].value_counts().reset_index()
cuisine_count.columns = ['Cuisines', 'Restaurant Count']
cuisine_count

         Cuisines  Restaurant Count
0    North Indian              2992
1         Chinese               855
2       Fast Food               672
3          Bakery               621
4            Cafe               617
..            ...               ...
114       Tex-Mex                 1
115    Australian                 1
116         Irish                 1
117       Persian                 1
118      Pub Food                 1

[119 rows x 2 columns]

In [33]:
# Merging cuisine's count and rating

cuisine_merge = pd.merge(cuisine_rating, cuisine_count, on='Cuisines')

# Sort by average rating

cuisine_merge = cuisine_merge.sort_values(by='Aggregate rating', ascending=False)
cuisine_merge.head(10)

          Cuisines  Aggregate rating  Restaurant Count
106          Sunda          4.900000                 3
96        Scottish          4.700000                 1
24           Cajun          4.700000                 1
108      Taiwanese          4.650000                 2
37        Filipino          4.616667                 6
85         Persian          4.600000                 1
91           Ramen          4.600000                 1
118  World Cuisine          4.500000                 3
5        Argentine          4.500000                 1
46        Hawaiian          4.480000                 5

In [35]:
# Identifying popular and high rated cuisines

popular_cuisines = cuisine_merge[cuisine_merge['Restaurant Count'] > 10]

# Finding top cuisines by rating

top_cuisines = popular_cuisines.sort_values(by='Aggregate rating', ascending=False).head(10)
top_cuisines

          Cuisines  Aggregate rating  Restaurant Count
73   Modern Indian          4.314286                14
52   International          4.292308                13
39          French          4.178571                14
20         British          4.166667                12
11             BBQ          4.116667                18
104          Steak          4.107692                13
50          Indian          4.096078                51
97         Seafood          3.973469                49
112           Thai          3.962069                29
107          Sushi          3.938462                13

**Identify the most popular cuisines among customers based on the number of votes**

In [42]:
resturant_df['Votes'].dropna()

0        314
1        591
2        270
3        365
4        229
        ...
9546     788
9547    1034
9548     661
9549     901
9550     591
Name: Votes, Length: 9551, dtype: int64

In [48]:
# Grouping cuisine and calculating by total votes

cuisine_votes = resturant_df.groupby('Cuisines')['Votes'].sum().reset_index()
    
# Sort in descending order of votes
cuisine_votes = cuisine_votes.sort_values(by='Votes', ascending=False)
cuisine_votes.head(10)
cuisine_votes

          Cuisines   Votes
79    North Indian  356684
23            Cafe  116576
2         American  105447
54         Italian   95153
30     Continental   94569
..             ...     ...
98     Singaporean      58
34     Drinks Only      45
0          Afghani      44
86        Peruvian       5
32  Cuisine Varies       2

[119 rows x 2 columns]

**Determine if there are any specific cuisines that tend to receive higher ratings**

In [65]:
# Calculating mean and count of ratings for each cuisine

cuisine_rating_summary = resturant_df.groupby('Cuisines').agg(
    Average_Rating=('Aggregate rating', 'mean'),
    Restaurant_Count=('Cuisines', 'count')
).reset_index()

cuisine_rating_summary = cuisine_rating_summary[cuisine_rating_summary['Restaurant_Count'] > 10]

# Sorted by average rating

cuisine_rating_summary = cuisine_rating_summary.sort_values(by='Average_Rating', ascending=False)
cuisine_rating_summary.head(10)

          Cuisines  Average_Rating  Restaurant_Count
73   Modern Indian        4.314286                14
52   International        4.292308                13
39          French        4.178571                14
20         British        4.166667                12
11             BBQ        4.116667                18
104          Steak        4.107692                13
50          Indian        4.096078                51
97         Seafood        3.973469                49
112           Thai        3.962069                29
107          Sushi        3.938462                13